<div [formGroup]="filterForm" class="mb-4">
    <div class="flex shrink-0 flex-wrap items-end gap-4">
      <div class="flex-grow-1">
        <app-input
          formControlName="search"
          [placeholder]="'Find people'"
        ></app-input>
      </div>
      <div>
        <app-date-picker formControlName="dateFrom" [label]="'Date From'"></app-date-picker>
      </div>
      <div>
        <app-date-picker formControlName="dateTo" [label]="'Date To'"></app-date-picker>
      </div>
      <div class="flex-grow-1">
        <app-button (click)="applyFilters()">Search</app-button>
      </div>
    </div>
  </div>

  <div>
  <app-table [data]="displayedUsers()" (rowClick)="viewUser($event)">
    <app-table-column key="picture.thumbnail" header="#">
      <ng-template let-user let-rowIndex="index">
        <p class="font-primary text-dark-text text-sm">
          {{ rowIndex + 1 }}
        </p>
      </ng-template>
    </app-table-column>
    <app-table-column key="name" header="Full Name">
      <ng-template let-user>
        <div class="flex items-center">
          <img [src]="user.picture.thumbnail" alt="User thumbnail" class="w-8 h-8 rounded-full" />
          <div class="ml-2">
            <p class="font-primary text-dark-text text-sm">
              {{ user.name.first }} {{ user.name.last }}
            </p>
          </div>
        </div>
      </ng-template>
    </app-table-column>
    <app-table-column key="email" header="Email">
      <ng-template let-user>
        <p class="font-primary text-dark-text text-sm">
          {{ user.email }}
        </p>
      </ng-template>
    </app-table-column>
    <app-table-column key="address" header="Address">
      <ng-template let-user>
        <p class="font-primary text-dark-text text-sm">
          {{ user.location.street.name }} {{ user.location.street.number }},
          {{ user.location.city }}, {{ user.location.state }}, {{ user.location.country }}
        </p>
      </ng-template>
    </app-table-column>
    <app-table-column key="phone" header="Phone">
      <ng-template let-user>
        <p class="font-primary text-dark-text text-sm">
          {{ user.phone }}
        </p>
      </ng-template>
    </app-table-column>
    <app-table-column key="birthday" header="Birth Date">
      <ng-template let-user>
        <p class="font-primary text-dark-text text-sm">
          {{ user.dob.date | date: 'MMMM d, yyyy' }}
        </p>
      </ng-template>
    </app-table-column>
  </app-table>
  <div class="mt-8">
    <app-paginator
      [totalItems]="filteredUsers().length"
      [pageSize]="pageSize()"
      [currentPage]="currentPage()"
      (pageChange)="onPageChange($event)"
    ></app-paginator>
  </div>
</div>
