<div class="mt-6">
  <h2 class="text-md text-dark-text font-primary mb-6">My cats</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
    @for (cat of cats; track cat.name) {
      <div class="text-left">
        <div class="bg-gray-200 h-40 w-full rounded-2xl mb-2 flex items-center justify-center">
          <img [src]="cat.image" [alt]="cat.name" class="h-full w-full object-cover rounded-2xl" />
        </div>
        <p class="text-brand-gray font-primary">{{ cat.name }}</p>
      </div>
    }
  </div>
</div>
