<div class="mt-6">
  <h2 class="text-md text-dark-text font-primary mb-6">My cats</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
    <!-- Placeholder for cat images -->
    <div class="text-left">
      <div class="bg-gray-200 h-40 w-full rounded-2xl mb-2 flex items-center justify-center">
        <img
          src="https://i.imgur.com/Jvh1OQm.jpeg"
          alt="Gibran & Juan"
          class="h-full w-full object-cover rounded-2xl"
        />
      </div>
      <p class="text-brand-gray font-primary">Gibran & Juan</p>
    </div>
    <div class="text-left">
      <div class="bg-gray-200 h-40 w-full rounded-2xl mb-2 flex items-center justify-center">
        <img
          src="https://i.imgur.com/5i5dsoh.jpeg"
          alt="Felipe"
          class="h-full w-full object-cover rounded-2xl"
        />
      </div>
      <p class="text-brand-gray font-primary">Felipe</p>
    </div>
    <div class="text-left">
      <div class="bg-gray-200 h-40 w-full rounded-2xl mb-2 flex items-center justify-center">
        <img
          src="https://i.imgur.com/sC0zt3I.jpeg"
          alt="Sebastian"
          class="h-full w-full object-cover rounded-2xl"
        />
      </div>
      <p class="text-brand-gray font-primary">Sebastian</p>
    </div>
    <div class="text-left">
      <div class="bg-gray-200 h-40 w-full rounded-2xl mb-2 flex items-center justify-center">
        <img
          src="https://i.imgur.com/T0xDE2l.jpeg"
          alt="Juliana & Alejandra"
          class="h-full w-full object-cover rounded-2xl"
        />
      </div>
      <p class="text-brand-gray font-primary">Juliana & Alejandra</p>
    </div>
  </div>
</div>
