<div
  class="flex items-center flex-col md:flex-row md:justify-between text-sm text-gray-600 font-sans p-2"
>
  <div class="flex items-center space-x-2">
    <span class="font-primary text-brand-primary text-sm font-medium">Rows per page</span>
    <select
      [ngModel]="pageSize()"
      (ngModelChange)="changePageSize($event.toString())"
      class="px-2 py-2 outline outline-gray-light border-r-8 border-transparent rounded-full focus:outline-none focus:ring-2 focus:ring-brand-primary font-medium font-primary text-brand-primary"
    >
      <option *ngFor="let size of pageSizeOptions()" [value]="size">
        {{ size }}
      </option>
    </select>
    <span class="font-primary text-brand-primary text-sm font-medium"
      >of {{ totalItems() }} rows</span
    >
  </div>

  <app-paginator-controls
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    [pages]="pages()"
    [isFirstPage]="isFirstPage()"
    [isLastPage]="isLastPage()"
    (pageSelected)="goToPage($event)"
    (next)="nextPage()"
    (previous)="previousPage()"
    (first)="goToPage(0)"
    (last)="goToPage(totalPages() - 1)"
  ></app-paginator-controls>
</div>
