<div class="w-full overflow-x-auto rounded-3xl py-4 bg-neutral">
  <table class="w-full">
    <thead>
      <tr class="bg-brand-primary">
        <th
          *ngFor="let col of columnDefs"
          class="px-4 py-2 text-left border-b border-gray-200 whitespace-nowrap font-medium text-sm text-white"
        >
          {{ col.header() }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of data(); let i = index"
        (click)="onRowClick(row)"
        class="cursor-pointer transition-colors duration-200 ease-in-out hover:bg-gray-100 even:bg-blue-light"
      >
        <td
          *ngFor="let col of columnDefs"
          class="p-4 text-left border-b border-blue-light-cta whitespace-nowrap text-sm text-gray-800"
        >
          <ng-container *ngIf="col.templateRef">
            <ng-container
              *ngTemplateOutlet="col.templateRef; context: { $implicit: row, index: i }"
            ></ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
