<div class="container mx-auto p-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Dashboard</h1>
    <div class="flex items-center">
      <span class="mr-4">Welcome, {{ currentUser()?.username }}!</span>
      <app-button (click)="logout()">Logout</app-button>
    </div>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-xl font-semibold mb-4">User List</h2>
    <div class="border border-gray-200 rounded-lg">
      <app-table [data]="displayedUsers()">
        <app-table-column key="picture.thumbnail" header="Picture">
          <ng-template let-user>
            <img
              [src]="user.picture.thumbnail"
              alt="User thumbnail"
              class="w-10 h-10 rounded-full"
            />
          </ng-template>
        </app-table-column>
        <app-table-column key="name" header="Name">
          <ng-template let-user> {{ user.name.first }} {{ user.name.last }} </ng-template>
        </app-table-column>
        <app-table-column key="email" header="Email">
          <ng-template let-user>
            {{ user.email }}
          </ng-template>
        </app-table-column>
        <app-table-column key="phone" header="Phone">
          <ng-template let-user>
            {{ user.phone }}
          </ng-template>
        </app-table-column>
        <app-table-column key="location.country" header="Country">
          <ng-template let-user>
            {{ user.location.country }}
          </ng-template>
        </app-table-column>
      </app-table>
      <app-paginator
        [totalItems]="users().length"
        [pageSize]="pageSize()"
        [currentPage]="currentPage()"
        (pageChange)="onPageChange($event)"
      ></app-paginator>
    </div>
  </div>
</div>
