/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import 'tailwindcss';

@theme {
  --color-mint-500: #f8a786;
  --color-brand-primary: #155883;
  --color-brand-primary-light: #1558831a;
  --color-brand-gray: #a0aec0;
  --color-brand-soft-blue: #1e628e;
  --color-brand-blue-gray: #e2e8f0;
  --color-dark-text: #2d3748;
  --color-secondary-text: #4fd1c5;
  --color-light-surface: #f9fafb;
  --color-solid-gray: #666666;
  --color-soft-gray: #9eadb4;
  --color-softer-gray: #f2f4f5;
  --color-neutral: #f9fafb;
  --color-blue-light: #f3f8ff;
  --color-blue-light-cta: #d9ebfe;
  --color-gray-light: #dddddd;
  --color-displayable-gray: #f9f9f9;

  --font-primary: 'Roboto', sans-serif;
  --font-brand: 'Nunito', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: white;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}
